{{define "branding"}}powered by <a style="margin-left:0" href="https://writefreely.org">WriteFreely</a> &middot; BlueNote {{.BlueNoteVersion}} &middot; <a style="margin-left:0" href="{{.BlueNoteSourceURL}}">Source</a>{{end}}
